html
   head
      title Doctors
   body
      ul
        - for (let i = 0; i < doctors.length; i++)
            li
              a(href=`/${doctors[i].id}`) #{doctors[i].name}
              span=`${doctors[i].location}`
              span=`${doctors[i].specialty}`
        
