html
   head
      title Doctors
      style
        include stylesheets/doctors.css
   body
      h1 All Doctors
      ul
        - for (let i = 0; i < doctors.length; i++)
            li
              a(href=`/${doctors[i].id}`) Dr #{doctors[i].name}
